@model PersonalTrainer.Models.LoginModel

<head>
    @{
        var state = new ModelState();
        int pass = 0;
    }
</head>
<body>
    <div class="container">
        @if (state.Errors.Count > 0 && ViewBag.Pass > 0)
        {
            <div class="alert alert-danger" id="@state.Errors">
                <strong>Warning!</strong> Please make sure all fields are completed.
                @{
                    foreach (var errorMessage in state.Errors[0].ErrorMessage)
                    {
                        <h4 class="alert alert-danger">@errorMessage.ToString()</h4>
                    }
                }
            </div>

                    }

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <form role="form">
                <div class="container well">
                    <div class="form-group col-md-6">
                        <label for="FullName">Full Name</label>
                        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @id = "FullName", @placeholder = "Full Name" })
                        @Html.ValidationMessageFor(m => m.FullName)
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Password">Password</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @id = "Password", @type = "password", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <div class="checkbox">
                            <input type="checkbox" style="width: 30px; height: 30px; right: 1080px; left: 30px" /><label style="margin-bottom: 20px; margin-left: 30px; margin-top: 8px">Remember Me?</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <p>if you don't have an account.</p>
                        <a href="@Url.Action("Register", "Account")" class="btn btn-primary">
                            Register
                        </a>
                    </div>
                </div>
            </form>
        }
        <div class="container well">
            <row class="col-sm-6">
                <h2>Use another service to log in.</h2>
                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </row>
        </div>
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
