@model PersonalTrainer.Models.RegisterModel

<head>
    <h2 class="text-center">@ViewBag.Title</h2>
</head>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <form role="form">
        <div class="form-group">
            <label for="@Html.LabelFor(m => m.FullName)">@Html.LabelFor(m => m.FullName)</label>
            <input type="text" class="form-control" id="@Html.TextBoxFor(m => m.FullName)"/>
        </div>

        <div class="form-group">
            <label for="@Html.LabelFor(m => m.Password)">@Html.LabelFor(m => m.Password)</label>
            <input type="text" class="form-control" id="@Html.TextBoxFor(m => m.Password)"/>
        </div>
        <div class="form-group">
            <label for="@Html.LabelFor(m => m.ConfirmPassword)">@Html.LabelFor(m => m.ConfirmPassword)</label>
            <input type="text" class="form-control" id="@Html.TextBoxFor(m => m.ConfirmPassword)"/>
        </div>
        <div class="form-group">
            <label for="@Html.LabelFor(m => m.TrainerName)">@Html.LabelFor(m => m.TrainerName)</label>
            <input type="text" class="form-control" id="@Html.TextBoxFor(m => m.TrainerName)"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
