@model PersonalTrainer.Models.Client

<head>
    <title>
        Check details
    </title>

    @{
        var state = new ModelState();
    }
</head>
<body>

<h2>So... Let's just clarify those details</h2>

@using (Html.BeginForm())
{
    <div id="accordion">
        <div class="container">
            <div class="panel panel-collapse">
                <div class="panel panel-heading">Personal</div>
                <div class="panel-body well">
                    <div class="col-md-12">
                        <label for="FName">First Name:</label>
                        @Html.TextBoxFor(x => x.FName, new {@class = "form-control disabled", @id = "FName"})

                        <label for="LName">Last Name:</label>
                        @Html.DisplayFor(x => x.LName, new {@class = "form-control disabled", @id = "LName"})

                        <label for="Gender">Gender:</label>
                        @Html.DisplayFor(x => x.Gender, new {@class = "form-control disabled", @id = "Gender"})

                    </div>
                    <div class="col-md-6">
                        <label for="LName">Age:</label>
                        @Html.DisplayFor(x => x.Age, new {@class = "form-control disabled", @id = "Age"})

                        <label for="DateOfBirth">Date Of Birth:</label>
                        @Html.DisplayFor(x => x.DateOfBirth, new {@class = "form-control disabled", @id = "DateOfBirth"})
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="panel panel-collapse">
                <div class="panel panel-heading"><a href="#2">Address Details</a></div>
                <div class="panel-body well">
                    <div class="col-md-6">
                        <label for="AddressLine1">Address:</label>
                        @Html.DisplayFor(x => x.AddressLine1, new {@class = "form-control", @id = "AddressLine1"})

                        <label for="AddressLine2">Address:</label>
                        @Html.DisplayFor(x => x.AddressLine2, new {@class = "form-control", @id = "AddressLine2"})

                        <label for="Postcode">Postcode:</label>
                        @Html.DisplayFor(x => x.Postcode, new {@class = "form-control", @id = "Postcode"})

                    </div>
                    <div class="col-md-6">
                        <label for="Email">Email:</label>
                        @Html.DisplayFor(x => x.Email, new {@class = "form-control disabled", @id = "Email"})

                        <label for="Phone">Phone:</label>
                        @Html.DisplayFor(x => x.Phone, new {@class = "form-control disabled", @id = "Phone"})
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="panel panel-collapse">
                <div class="panel panel-heading">Stats</div>
                <div class="panel-body well">
                    <div class="col-md-6">
                        <label for="Height">Height:</label>
                        @Html.DisplayFor(x => x.Height, new {@class = "form-control disabled", @id = "Height"})

                        <label for="Weight">Weight:</label>
                        @Html.DisplayFor(x => x.Weight, new {@class = "form-control disabled", @id = "Weight"})

                    </div>
                    <div class="col-md-6">
                        <label for="GoalId">Goal:</label>
                        @Html.DisplayFor(x => x.GoalId, new {@class = "form-control disabled", @id = "GoalId"})



                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-collapse">
                <div class="panel-heading">Personal</div>
                <div class="panel-body well">

                </div>
            </div>

        </div>


        <div class="container">
            <div class="panel panel-collapse">
                <div class="panel-heading well">Additional Information:</div>
                <div class="panel-body well">
                    @Html.TextBoxFor(x => x.AddInfo, new {@class = "form-control disabled", @id = "AddInfo", type = "text"})
                </div>
            </div>
        </div>



    </div>
    <div class="container well">
        <div class="col-md-6">

            <input type="submit" value="Time for a fitness test!"/>

        </div>
    </div>

}
</body>

<script type="text/javascript">
    $(function () {
        $("#accordion").accordion();
    });
</script>

