@model PersonalTrainer.Models.Client

<head>
    <title>
        Check details
    </title>

    @{
        var state = new ModelState();
    }
</head>
<body>

    <h2 class="text-center">So... Let's just clarify those details</h2>

    @using (Html.BeginForm())
    {
        <div class="container">
            <button class="accordion">Personal</button>
            <div class="panel">
                <div class="col-md-12">
                    <label for="FName">First Name:</label>
                    @Html.DisplayTextFor(x => x.FName)

                    <label for="LName">Last Name:</label>
                    @Html.DisplayTextFor(x => x.LName)

                    <label for="Gender">Gender:</label>
                    @Html.DisplayTextFor(x => x.Gender)

                </div>
                <div class="col-md-6">
                    <label for="LName">Age:</label>
                    @Html.DisplayTextFor(x => x.Age)

                    <label for="DateOfBirth">Date Of Birth:</label>
                    @Html.DisplayTextFor(x => x.DateOfBirth)
                </div>
            </div>
        </div>

        <div class="container">
            <button class="accordion">Address details</button>
            <div class="panel">
                <div class="col-md-6">
                    <label for="AddressLine1">Address:</label>
                    @Html.DisplayTextFor(x => x.AddressLine1)

                    <label for="AddressLine2">Address:</label>
                    @Html.DisplayTextFor(x => x.AddressLine2)

                    <label for="Postcode">Postcode:</label>
                    @Html.DisplayTextFor(x => x.Postcode)

                </div>
                <div class="col-md-6">
                    <label for="Email">Email:</label>
                    @Html.DisplayTextFor(x => x.Email)

                    <label for="Phone">Phone:</label>
                    @Html.DisplayTextFor(x => x.Phone)
                </div>
            </div>
        </div>

        <div class="container">
            <button class="accordion">Stats</button>
            <div class="panel">
                <div class="col-md-6">
                    <label for="Height">Height:</label>
                    @Html.DisplayTextFor(x => x.Height)

                    <label for="Weight">Weight:</label>
                    @Html.DisplayTextFor(x => x.Weight)

                </div>
                <div class="col-md-6">
                    <label for="GoalId">Goal:</label>
                    @Html.DisplayTextFor(x => x.GoalId)

                </div>
            </div>
        </div>
        <div class="container">
            <button class="accordion">Stats</button>
            <div class="panel">
                @Html.TextBoxFor(x => x.AddInfo)
            </div>
        </div>

        <div class="container well">
            <div class="col-md-6">

                <input type="submit" value="Time for a fitness test!" />

            </div>
        </div>

    }


<script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    </script>
</body>

