@using PersonalTrainer.Models
@model PersonalTrainer.Models.FitnessTest
@ViewBag.Title


<html>
<head>
    <title>Paul Fawcett PT</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="main-content">
        <h2>FitnessTest</h2>
    </div>

    @using (Html.BeginForm())
    {
        <h2>Workout</h2>

        {
            int counter = 1;
            foreach (var workoutName in Model.WorkoutNameList)
            {

                <div class="leftfield">@Html.Label("Workout Name:") @Html.Label(workoutName)</div><div class="leftfield">
                    @Html.LabelFor(x => x.WeightLifted)
                <input id=@{ string.Format("weightLifted{0}", counter);} value ="@Model.WeightLifted" data-bind=@{ string.Format("value: weightLifted{0}, valueUpdate:'afterkeydown'", counter); } />
            </div>

                    <div class="rightfield">
                        @Html.LabelFor(x => x.ORM)
                    <span id=@{string.Format("orm{0}", counter);} data-bind=@{ string.Format("text: orm{0}, valueUpdate:'afterkeydown'", counter); }></span>
                    <input type="hidden" value="@Model.ORM" data-bind=@{ string.Format("value: ormValue{0}, valueUpdate:'afterkeydown'", counter); } />
                </div>

                    <div class="leftfield">
                        @Html.LabelFor(x => x.Reps) <input id=@{string.Format("reps{0}", counter);} data-bind=@{ string.Format("value: reps{0} , valueUpdate:'afterkeydown'", counter); } />
                </div>

                    <div class="rightfield">@Html.LabelFor(x => x.Comments) @Html.TextAreaFor(x => x.Comments)</div>
                <div class="clear-fix"></div>

                counter++;
            }
        }

        <h3>Aerobic</h3>

        {
            foreach (var cardioName in Model.CardioNameList)
            {
                <div class="leftfield">@Html.Label("Exercise Name:")@Html.Label(cardioName)</div>
                    <div class="leftfield">@Html.LabelFor(x => x.ExerciseName) @Html.TextBoxFor(x => x.ExerciseName)</div>

                    <div class="rightfield">@Html.Label("Time:")@Html.TextBoxFor(x => x.Time)</div>
                    <div class="rightfield">@Html.LabelFor(x => x.Comments) @Html.TextAreaFor(x => x.Comments)</div>
                    <div class="clear-fix"></div>
            }
        }
    }
    <input type="submit" value="Make the plan!" />
</body>
</html>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script>
        function recalculateResult(weightLifted, reps) {
            return weightLifted + reps;
        }

        counter = 1;
        var viewModel = function() {
            var self = this;
            self.ormValue = ko.observable();
            self.weightLifted = ko.observable();
            self.reps = ko.observable();
            self.orm = ko.computed(function() {
                    var returnNumber = 0;
                    var returnNumberMax = Number(self.weightLifted() * (1 + (self.reps() / 30)));
                    returnNumber = returnNumberMax * 0.93;
                    if (isNaN(returnNumber)) {
                        returnNumber = 0;
                    }
                    self.ormValue = returnNumber;
                    console.debug(self.ormValue);
                    return returnNumber;
                },
                self);
        };

        ko.applyBindings(new viewModel());
    </script>

}