@model PersonalTrainer.Models.Parq
@{
    ViewBag.Title = "PAR-Q Questionnaire";
    var state = new ModelState();
    int pass = 0;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
@if (state.Errors.Count > 0 && pass > 0)
{
    <div class="container" id="validation-alert">
        <div class="alert alert-danger">
            <strong>Warning!</strong> Please check validation on fields.
            @{
                foreach (var errorMessage in state.Errors[0].ErrorMessage)
                {
                    <h4 class="alert alert-danger">@errorMessage.ToString()</h4>
                }
            }
        </div>
    </div>
}

<h2 class="text-center">Physical Activity Readiness Questionnaire (PAR-Q)</h2>
<div class="container panel panel-default text-center">
    <div class="panel-body">
        Many health benefits are associated with regular exercise, and the completion of PAR-Q is a sensible first step to take if
        you are planning to increase the amount of physical activity in your life.
    </div>
    <div class="panel-body">
        For most people physical activity should not pose any problem or hazard. PAR-Q is designed to identify the small number
        of adults for whom physical activity might be inappropriate or those who should have medical advice concerning the
        type of activity most suitable for them. Common sense is the best guide in answering these few questions.
    </div>
</div>
@using (Html.BeginForm())
{
    <form role="form">
        <div class="container">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="Name">@Html.LabelFor(x => x.Name)</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", type = "text", id = "Name" })
                <div class="alert alert-warning hidden" id="validate1" >@Html.ValidationMessageFor(x => x.Name)</div>
            </div>
            <div class="container" style="padding-bottom: 2em">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row1">Next...</button>
            </div>
        </div>
        @* SPACER *@
        <div class="container">
            <div class="row collapse" id="row1">
                @* ROW 1 *@
                <div class="col-sm-4">Has your doctor ever said that you have a bone or joint problems, such as arthritis that has been aggravated by exercise or might be made worse with exercise? </div>
                <div class="col-sm-4">
                    <div class="form-group has-success has has-feedback">
                        <label class="col-md-4 control" for="Answer1" id="Answer1">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="addInfo1">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="addInfo"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row2">Next...</button>
                    @* @completed == true; *@
                </div>
            </div>
        </div>

        @* ROW 2 *@
        <div class="container">
            <div class="row collapse" id="row2">
                <div class="col-sm-4">Do you have high blood pressure?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer2" id="answer2">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo2)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo2)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row3">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 3 *@
        <div class="container">
            <div class="row collapse" id="row3">
                <div class="col-sm-4">Do you have low blood pressure?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer3" id="answer3">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo3)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo3)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row4">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 4 *@
        <div class="container">
            <div class="row collapse" id="row4">
                <div class="col-sm-4">Do you have Diabetes Mellitus or any other metabolic disease?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer4" id="answer4">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo4)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo4)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row5">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 5 *@
        <div class="container">
            <div class="row collapse" id="row5">
                <div class="col-sm-4">Has your doctor ever said you have raised cholesterol (serum level above 6.2mmol/L)?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer5" id="answer5">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo5)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo5)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row6">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 6 *@
        <div class="container">
            <div class="row collapse" id="row6">
                <div class="col-sm-4">Has your doctor ever said that you have a heart condition arid that you should only do physical activity recommended by a doctor?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer6" id="answer6">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo6)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo6)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row7">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 7 *@
        <div class="container">
            <div class="row collapse" id="row7">
                <div class="col-sm-4">Have you ever felt pain in your chest when you do physical exercise?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer7" id="answer7">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo7)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo7)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row8">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 8 *@
        <div class="container">
            <div class="row collapse" id="row8">
                <div class="col-sm-4">Is your doctor currently prescribing you drugs or medication?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer8" id="answer8">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo8)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo8)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target=#row9>Next...</button>
                </div>
            </div>
        </div>

        @* ROW 9 *@
        <div class="container">
            <div class="row collapse" id="row9">
                <div class="col-sm-4">Have you ever suffered from unusual shortness of breath at rest or with mild exertion?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer9" id="answer9">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo9)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo9)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row10">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 10 *@
        <div class="container">
            <div class="row collapse" id="row10">
                <div class="col-sm-4">Is there any history of Coronary Heart Disease in your family?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer10" id="answer10">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo10)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo10)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row11">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 11 *@
        <div class="container">
            <div class="row collapse" id="row11">
                <div class="col-sm-4">Do you often feel faint, have spells of severe dizziness or have lost consciousness?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer11" id="answer11">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo11)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo11)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row12">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 12 *@
        <div class="container">
            <div class="row collapse" id="row12">
                <div class="col-sm-4">Do you currently drink more than the average amount of alcohol per week (21 units for men and 14 units for women)?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer12" id="answer12">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo12)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo12)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row13">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 13 *@
        <div class="container">
            <div class="row collapse" id="row13">
                <div class="col-sm-4">Do you currently smoke?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer13" id="answer13">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo13)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo13)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row14">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 14 *@
        <div class="container">
            <div class="row collapse" id="row14">
                <div class="col-sm-4">
                    Do you <strong>NOT</strong> currently exercise on a regular basis (at least 3 times a week) and/or work in a job that is physically demanding?
                </div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer14" id="answer15">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo14)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo14)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row15">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 15 *@
        <div class="container">
            <div class="row collapse" id="row15">
                <div class="col-sm-4">Are you, or is there any possibility that you might be pregnant?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer15" id="answer15">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo15)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo15)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#row16">Next...</button>
                </div>
            </div>
        </div>

        @* ROW 16 *@
        <div class="container">
            <div class="row collapse" id="row16">
                <div class="col-sm-4">Do you know of any other reason why you should not participate in a physical activity programme?</div>
                <div class="col-sm-4">
                    <div class="form-group has-success has-feedback">
                        <label class="col-md-4 control" for="answer16" id="answer16">Yes/No</label>
                        <select class="form-control" id="addInfo">
                            <option>Please select...</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="@Html.LabelFor(x => x.AddInfo16)">Please give more info...</label>
                        <textarea class="form-control" rows="3" id="@Html.TextAreaFor(x => x.AddInfo16)"></textarea>
                    </div>
                </div>
                <div class="container" style="padding-bottom: 2em">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#checkBox">Next...</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row collapse" id="checkBox">
                <div class="well">
                    @Html.LabelFor(x => x.Email) @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                    <div class="container">
                        <div class="checkbox">
                            <input type="checkbox" value="true" style="width: 30px; height: 30px; right: 1080px; left: 30px"/><label style="margin-bottom: 20px; margin-left: 30px; margin-top: 8px">"IMPORTANT: By ticking this box you are confirming that all the information you have supplied is true and complete to the best of your knowledge</label>
                        </div>
                    </div>
                    @{ pass++; }
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </form>
                    }
</body>

<script type="text/javascript">
    $(document)
        .ready(function() {
            var $myTextBox = $("#addInfo1").next('div').hide();
            $('.AddInfoTrigger')
                .change(function () {
                    var selectedValue = $(this).val();
                    if (selectedValue === 'true') {
                        $myTextBox.show();
                    } else {
                        $myTextBox.hide();
                    }
                });
        });

    function FaqSelector() {
        var self = this;
        self.AvailableOptions = {
            Option: "Please Select"
        }
    }
</script>
